.editor {
    display: flex;
    width: 100%;
    height: 100%;
}

.viewer {
    background-color: darkslategray;
    flex-grow: 1;
    height: 100%;
}

.componentsList {
    background-color: chartreuse;
    width: 400px;
    height: 100%;
}

.componentEdit {
    background-color: darkgoldenrod;
    width: 400px;
    height: 100%;
}